html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.top-buffer-smallish{
	margin-top:100;
}
.top-buffer-medium{
	margin-top:175px;
}
.top-buffer-small{
	margin-top:25px;
}
.bottom-buffer-small{
	margin-bottom:25px;
}
.bottom-buffer-tiny{
	margin-bottom:10px;
}
h3{
	color:black;
}
.black-type{
	color:black;
}
.large-type{
	font-size: 7em;
}
.popover-title{
	color:black;
}
.transparency {
   background-color: rgba(245, 245, 245, 0.6);
}
.white{
	color:white;
}
.handwriteOne{
	font-family: 'Neucha', cursive;
}
.handwriteTwo{
	font-family: 'Shadows Into Light Two', cursive;
}
.vcenter{
	display:inline-block;
	vertical-align: middle;
	float: none;
}
.limit-width{
	max-width:300px;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}


.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}